/* No CSS *//*# sourceMappingURL=main.css.map */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #FFF;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
}

*,
::before,
::after {
    box-sizing: border-box
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s
}

a {
    text-decoration: none
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: .5s
}

.header_toggle {
        color:rgb(182, 109, 255);
    font-size: 1.5rem;
    cursor: pointer
}

.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden
}

.header_img img {
    width: 60px
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: 25%;
    height: 100vh;
    background-color:#f7f6fb;
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem;
        color:rgb(182, 109, 255);}

.nav_logo {
    margin-bottom: 2rem
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color)
}

.nav_logo-name {
    color: var(--white-color);
    font-weight: 700
}

.nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s
}

.nav_link:hover {
        color:rgb(182, 109, 255);
}

.nav_icon {
    font-size: 1.25rem
}

.show {
    left: 0
}

.body-pd {
    padding-left: calc(var(--nav-width) + 1rem)
}

.active {
    color: rgb(182, 109, 255);
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    color:rgb(182, 109, 255);
    background-color: rgb(182, 109, 255);
}
.height-100 {
    height: 100vh
}

@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem)
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
    }

    .header_img {
        width: 40px;
        height: 40px
    }

    .header_img img {
        width: 45px
    }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0
    }

    .show {
        width:100%
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 188px)
    }
}
body{
    background-color: rgb(242, 237, 243);
}
.complatedBtn{
    background-color: rgb(56, 210, 188);
}
.btncolor{
    color:white;
    background:-webkit-gradient(linear, 0% 0%, 100% 0%, from(rgb(218, 140, 255)), to(rgb(154, 85, 255))); ;
}
.btncolor:hover{
    color: #e1dbf9;
}



/* signIn */

.regtitle {
    color: rgba(92, 184, 92, 1);
}

.LoginInput {
    border: 1px solid hsl(206, 7%, 54%);
    height: 40px;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 1rem;
    width: 300px;
    padding-left: 1rem;

}

.subtitletext {
    font-size: 16px;
    color: rgba(92, 184, 92, 1);
    text-align: center;
    text-decoration: none;
}

.cetrtext {
    text-align: center;
}

.loginform {
    width: 30%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.SignBtn {
    background-color: rgba(92, 184, 92, 0.8);
    border: none;
    color: white;
    font-size: 16px;
    height: 40px;
    padding: 0 1rem;
    border-radius: 5px;
    float: right;
    margin-top: 1rem;
    width: 300px;
}

.SignBtn:hover {
    background-color: rgba(92, 184, 92, 1);
}

/* profile user */

.userImg {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.linkinfo {
    color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-grey {
    border: 1px solid hsl(206, 7%, 54%);
    height: 40px;
    width: 180px;
    font-size: 16px;
    background-color: transparent;
    border-radius: 5px;
    position: relative;
    left: 80%;
    bottom: 2rem;

}

.icon {
    padding-right: 1rem;
}

.headprofile {
    background-color: rgb(243, 243, 243);
    height: 230px;
    position: relative;
}

.userinfo {

    text-align: center;
    margin: 0;
    padding: 1rem;
}

.usernametr {
    font-size: 24px;
    font-weight: 500;
}

/* globval form */
.form {
    width: 75%;
    border-bottom: 1px solid rgba(129, 138, 145, 0.2);

}
.color{
    color:rgb(242, 237, 243)
}

/* card */

.bg-gradient-danger {
    background: -webkit-gradient(linear, left top, right top, from(#ffbf96), to(#fe7096));
    background: linear-gradient(90deg,#ffbf96,#fe7096);
}
.bg-gradient-info {
    background: -webkit-gradient(linear, left top, right top, from(#90caf9), color-stop(99%, #047edf));
    background: linear-gradient(90deg, #90caf9, #047edf 99%);
}
.bg-gradient-success,
.dashboard-custom-date-picker .react-datepicker .react-datepicker__header {
    background: -webkit-gradient(linear, left top, right top, from(#84d9d2), to(#07cdae));
    background: linear-gradient(90deg, #84d9d2, #07cdae);
}


/* table user */

/* Company table */
.contentBg{
    background-color: rgb(247, 246, 251);
    border-radius: 8px;
}

/* Checkbox */
.switch {
    position: relative;
    display: inline-block;
}

.switch-input {
    display: none;
}

.switch-label {
    display: block;
    width: 48px;
    height: 24px;
    text-indent: -150%;
    clip: rect(0 0 0 0);
    color: transparent;
    user-select: none;
}

.switch-label::before,
.switch-label::after {
    content: "";
    display: block;
    position: absolute;
    cursor: pointer;
}

.switch-label::before {
    width: 100%;
    height: 100%;
    background-color: #dedede;
    border-radius: 9999em;
    -webkit-transition: background-color 0.25s ease;
    transition: background-color 0.25s ease;
}

.switch-label::after {
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
    -webkit-transition: left 0.25s ease;
    transition: left 0.25s ease;
}

.switch-input:checked+.switch-label::before {
    background:-webkit-gradient(linear, 0% 0%, 100% 0%, from(rgb(218, 140, 255)), to(rgb(154, 85, 255)));
    ;
}

.switch-input:checked+.switch-label::after {
    left: 24px;
}
.btn-outline-warning:hover{
    color:white
}