.searchbar{
   display: flex;
   align-items: center;
   position: relative;
}
#basic-addon2{
position: absolute;
right: 30px;
color: #ccc;
font-size: 24px;
}
.searchinput{
    border:1px solid #ccc;
    border-radius: 3px;
    height: 60px;
    margin-right: 10px;
    /* width: 100px; */
    background-color: transparent;
    box-shadow: 1px 2px 5px #ccc;
}
.searchinput::placeholder{
    color:#ccc
}
.add{
    color:white;
    border: none;
    background-image:-webkit-gradient(linear, 0% 0%, 100% 0%, from(rgb(218, 140, 255)), to(rgb(154, 85, 255)));;
}
.regtitle{
    color: black;
}
/* 
sale menu
*/

.salemenu{
    display: flex;
    list-style-type: none;
    /* background-color: #ccc; */
    /* width: 550px; */
    justify-content: flex-end;
    margin-top: 5rem!important;
    
}
.pro a{
    color:white;
    padding: 10px 15px;
    margin: 1rem;
    border-radius: 3px;
    background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgba(218, 140, 255, 1)), to(rgba(154, 85, 255, 1)));
   
}

.accbody{
    width: 100%;
    overflow: scroll;
    /* background-color: pink!important; */
}

.comenttd{
    position: relative;
}
.commentbox{
    /* display: block; */
    position: absolute;
    background-color: rgba(218, 140, 255, 1);
    border: 1px solid rgba(218, 140, 255, 1);
    padding: 1rem;
    margin: 1rem;
    top:0px; 
    right:0px; 
    width: 300px;
    z-index: 99999;
    border-radius: 5px;
}
.commentClose{
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    margin: 10px;
}
.foottable{
    /* background-color: red; */
    display: flex;
    justify-content: flex-end;
    /* width: 35%; */
}


/* product add modal: */
.productadd{
    border:  1px solid #ccc;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 5px;

    
}
fieldset{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* background-color: red; */
}
.productform{
    margin: 0 auto;
    padding: 0 1rem;
}
.modalBtn{
    color:white;
    padding: 10px 15px;
    margin: 1rem;
    border-radius: 3px;
    background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgba(218, 140, 255, 1)), to(rgba(154, 85, 255, 1)));
   
}
/* table in user */
.usertable{
    width: 100%;
    /* background-color: yellow; */
}
.accordion{
    width: 100%;
}
/* client modal */
.clientmodal{
    position: absolute;
    background-color: rgba(218, 140, 255, 0.9);
    width: 70%;
    margin-left: 160px;
    border-radius: 5px;
    box-shadow: 3px 4px 15px solid gray;
    padding: 3rem;
    top:50px;
    z-index: 9999;
}
.toprow{
    position: relative;
}
.card-body{
    overflow: scroll;
}
.labelclient{
    font-weight: 700;
}
.allSumma{
    border: 1px solid indigo;
    border-radius: 3px;
    display: inline-block;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 1rem; */

}
